<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ExpressJs - HandleBars App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <h1 class="text-center text-success flex-fill ">List of notes</h1>
            {{#if token}}
            {{log token}}
            <a href="http://localhost:5000/auth/signout" class="float-right">Sign Out</a>
            {{else}}
            <a href="http://localhost:5000/auth/signin" class="float-right">Sign In</a>
            {{/if}}
        </div><br />
        {{#if token}}
        <ul class="d-flex">
            <li class="mr-4"><a href="http://localhost:5000/auth/notes/0">All public notes</a></li>
            <li class="mr-4"><a href="http://localhost:5000/auth/createnote">Create a new note</a></li>
            <li class="mr-4"><a href="http://localhost:5000/user/posts">User notes</a></li>
            <li class="mr-4"><a href="http://localhost:5000/user/posts/public">User public notes</a></li>
            <li><a href="http://localhost:5000/user/posts/private">User private notes</a></li>
        </ul><br />
        {{/if}}
        <div class="d-flex">
            {{#if notes}}
            {{#each notes}}
            <div class="card mx-2" style="width: 18rem;">
                {{#each this.images}}
                {{!-- {{log this.image}} --}}
                {{!-- <img src="http://{{this.image}}" class="card-img-top" alt="..." height="200" width="280"> --}}
                <img src={{this.name}} class="card-img-top" alt="..." height="200" width="280">
                {{/each}}
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="text-center flex-fill">
                <h4 class="text-danger">No notes found</h4>
            </div>
            {{/if}}
        </div>
        {{#if page}}
        <nav aria-label="Page navigation example" class="mt-4 d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="http://localhost:5000/auth/notes/{{dec page}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link">{{page}}</a></li>
                <li class="page-item">
                    <a class="page-link" href="http://localhost:5000/auth/notes/{{inc page}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        {{/if}}
    </div>
</body>

</html>