<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ExpressJs - HandleBars App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <a href="http://localhost:5000/auth/notes/1">Home</a>
            <h1 class="text-center text-success flex-fill ">List of notes</h1>
            {{#if token}}
            <a href="http://localhost:5000/auth/signout" class="float-right">Sign Out</a>
            {{else}}
            <a href="http://localhost:5000/auth/signin" class="float-right">Sign In</a>
            {{/if}}
        </div><br />
        {{#if token}}
        <ul class="d-flex">
            <li class="mr-4"><a href="http://localhost:5000/auth/notes/1">All public notes</a></li>
            <li class="mr-4"><a href="http://localhost:5000/auth/createnote">Create a new note</a></li>
            <li class="mr-4"><a href="http://localhost:5000/user/posts">User notes</a></li>
            <li class="mr-4"><a href="http://localhost:5000/user/posts/public">User public notes</a></li>
            <li><a href="http://localhost:5000/user/posts/private">User private notes</a></li>
        </ul><br />
        {{/if}}
        {{#if page}}
        {{#if notes}}
        <form class="w-25 my-2 d-flex align-items-center" method="GET" action="/auth/search/notes/1">
            <div class="form-group mb-0 mr-2">
                <input type="text" class="form-control" name="title" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter title">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {{/if}}
        {{/if}}
        <div class="d-flex flex-wrap">
            {{#if notes}}
            {{#each notes}}
            <div class="card m-2" style="width: 16rem;">
                <div id="carouselExampleControls-{{this._id}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#each this.images}}
                        <div class="carousel-item {{activeClass @index}}">
                            <img src={{this.name}} class=" card-img-top d-block w-100" alt="..." height="200"
                                width="280">
                        </div>
                        {{/each}}
                    </div>
                    {{#if (showCarouselControl this.images.length)}}
                    <a class="carousel-control-prev" href="#carouselExampleControls-{{this._id}}" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls-{{this._id}}" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    {{/if}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="text-center flex-fill">
                <h4 class="text-danger">No notes found</h4>
            </div>
            {{/if}}
        </div>
        {{#if notes}}
        {{#if page}}
        <nav aria-label="Page navigation example" class="mt-4 d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="http://localhost:5000/auth/notes/{{dec page}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link">{{page}}</a></li>
                <li class="page-item">
                    <a class="page-link" href="http://localhost:5000/auth/notes/{{inc page notes}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        {{/if}}
        {{/if}}
    </div>
</body>

</html>